<div id="bd_ear">
  
  <ul>
    <li><time><span>{{ "now" | date: "%A" }},&nbsp;</span>{{ "now" | date: "%B %d, %Y" }}</time></li>
    <li><a href="http://services.registerguard.com/">Login</a></li>
    <li class="bd_ear_rev"><a href="http://services.registerguard.com/#pricing">Subscribe</a></li>
    <li><a href="http://classifieds.registerguard.com/g/events-and-notices-legal-and-public-notices-26754510-b">Legal ads</a></li>
    <li><a href="http://registerguard.com/homes">Homes</a></li>
    <li><a href="http://registerguard.com/autos">Autos</a></li>
    <li><a href="http://registerguard.com/jobs">Jobs</a></li>
    <li><a href="http://registerguard.com/classifieds">Classified</a></li>
  </ul>
  
</div> <!-- /#bd_ear -->

<div id="bd_masthead">
  
  <h1 id="bd_flag"><a href="http://registerguard.com">The Register-Guard</a></h1>
  
  <div id="forecast">
    
    <!-- //////////////////// ROS Weather Widget \\\\\\\\\\\\\\\\\\\\ -->
    <div class="button_1 advert"><div id="ros-weather-widget"></div></div>
    <!-- \\\\\\\\\\\\\\\\\\\\ ROS Weather Widget //////////////////// -->
    
    
  </div> <!-- /#forecast -->
  
  <nav>
    
    <div id="bd_proof">
      
      <h1 class="bd_cut">Navigation</h1>
      
      <ul id="megawhale" class="mw-ul">
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/news/local/">News</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com">Home</a></li>
                      <li><a href="http://registerguard.com/rg/news/local/">Local</a></li>
                      <li><a href="mailto:newstips@registerguard.com">News Tips</a></li>
                      <li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
                      <li><a href="http://projects.registerguard.com/weather/">Weather</a></li>
                      <li><a href="http://registerguard.com/rg/news/local/#stories">For the Record</a></li>
                      <li><a href="http://registerguard.com/rg/news/local/#archive">Latest Seven Days</a></li>
                      <li><a href="http://150.registerguard.com/">Celebrate 150</a></li>
                      <li><a href="http://registerguard.com/rg/news/community/">Community</a></li>
                      <li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
                      <li><a href="https://tickets.registerguard.com">RG Media Events</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of2">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Associated Press</h2>
                    
                    <div class="w_line">
                      
                      <div class="w_unit w_C1of2">
                        
                        <ul class="bd_scoop">
                          <li><a href="http://projects.registerguard.com/apf/top/index/25/">Top Stories</a></li>
                          <li><a href="http://projects.registerguard.com/apf/nwn/index/25/">Northwest Now</a></li>
                          <li><a href="http://projects.registerguard.com/apf/biz/index/25/">Business</a></li>
                          <li><a href="http://projects.registerguard.com/apf/portland-stocks/index/10/">Oregon Business</a></li>
                          <li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
                          <li><a href="http://projects.registerguard.com/apf/sports/index/25/">Sports</a></li>
                          <li><a href="http://projects.registerguard.com/apf/tech/index/25/">Technology</a></li>
                          <li><a href="http://projects.registerguard.com/apf/enter/index/25/">Entertainment</a></li>
                          <li><a href="http://projects.registerguard.com/apf/politics/index/25/">Politics</a></li>
                        </ul> <!-- /.bd_scoop -->
                        
                      </div> <!-- /.w_unit -->
                      
                      <div class="w_unit w_C1of2 w_Cfix">
                        
                        <ul class="bd_scoop">
                          <li><a href="http://projects.registerguard.com/apf/wx/index/25/">Weather</a></li>
                          <li><a href="http://projects.registerguard.com/apf/us/index/25/">National</a></li>
                          <li><a href="http://projects.registerguard.com/apf/intl/index/25/">International</a></li>
                          <li><a href="http://projects.registerguard.com/apf/health/index/25/">Health</a></li>
                          <li><a href="http://projects.registerguard.com/apf/sci/index/25/">Science</a></li>
                          <li><a href="http://projects.registerguard.com/apf/odd/index/25/">Oddities</a></li>
                          <li><a href="http://projects.registerguard.com/apf/lotteries/index/10/">Lotteries</a></li>
                          <li><a href="http://projects.registerguard.com/pages/ap/podcasts/">Podcasts</a></li>
                        </ul> <!-- /.bd_scoop -->
                        
                      </div> <!-- /.w_unit -->
                      
                    </div> <!-- /.w_line -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Maps</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://projects.registerguard.com/police/eugene/">Eugene police call log</a></li>
                      <li><a href="http://projects.registerguard.com/police/springfield/">Springfield police call log</a></li>
                      <li><a href="http://projects.registerguard.com/pages/gas/">Lane County gas prices</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/registerguard">@registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/sports/">Sports</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/sports/preps/">Preps</a></li>
                      <li><a href="http://registerguard.com/rg/sports/football/">Oregon Ducks Football</a></li>
                      <li><a href="http://registerguard.com/rg/sports/#austin-meek">Columnist Austin Meek</a></li>
                      <li><a href="http://registerguard.com/rg/sports/basketball/">Oregon Ducks Basketball</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/sports/trackandfield/">Track &amp; Field</a></li>
                      <li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
                      <li><a href="http://registerguard.com/rg/sports/#archive">Latest Seven Days</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Associated Press Sports</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul>
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/rgduckfootball">@rgduckfootball</a></li>
                      <li><a href="https://twitter.com/rgsports">@rgsports</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/business/">Business</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/business/">Local</a></li>
                      <li><a href="http://registerguard.com/rg/business/#archive">Latest Seven Days</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/business/bluechip/">Blue Chip</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://projects.registerguard.com/apf/portland-stocks/index/10/">Oregon Business</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/registerguard">@registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/opinion/">Opinion</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/opinion/">Editorials</a></li>
                      <li><a href="http://registerguard.com/rg/opinion/">Letters</a></li>
                      <li><a href="http://registerguard.com/rg/opinion/#archive">Latest Seven Days</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of2">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/opinion/#viewpoint">Guest Viewpoint</a></li>
                      <li><a href="http://registerguard.com/rg/opinion/#letter">Contribute your Opinion</a></li>
                      <li><a href="http://registerguard.com/rg/opinion/endorsements/">Endorsements</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/registerguard">@registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/life/">Life</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/life/lifestyles/">Lifestyles</a></li>
                      <li><a href="http://registerguard.com/rg/life/food/">Food</a></li>
                      <li><a href="http://registerguard.com/rg/life/tastings/">Tastings</a></li>
                      <li><a href="http://registerguard.com/rg/life/healthyfamilies/">Healthy Families</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/life/weekend/">Weekend</a></li>
                      <li><a href="http://registerguard.com/rg/life/homeandgarden/">Home &amp; Garden</a></li>
                      <li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
                      <li><a href="http://registerguard.com/rg/life/discovery/">Discovery</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/life/cannabisculture/">Cannabis Culture</a></li>
                      <li><a href="http://registerguard.com/rg/life/retirement/">Destination: Retirement</a></li>
                      <li><a href="http://registerguard.com/choice">Readers' Choice</a></li>
                      <li><a href="http://registerguard.com/csp/cms/sites/rg/pages/thingstodo.csp">Things to do</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/registerguard">@registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/entertainment/">Entertainment</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/entertainment/">Entertainment</a></li>
                      <li><a href="http://registerguard.com/rg/entertainment/arts/">Arts</a></li>
                      <li><a href="https://www.yahoo.com/movies/showtimes">Movie Listings</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://go.registerguard.com/entertainment/">Go Entertainment</a></li>
                      <li><a href="http://projects.registerguard.com/pages/entertainment/calendar/">Submit an event</a>
                      <li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/choice">Readers' Choice</a></li>
                      <li><a href="http://registerguard.com/csp/cms/sites/rg/pages/thingstodo.csp">Things to do</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert">Follow us on Facebook</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                    <h2 class="bd_insert">Follow us on Twitter</h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://twitter.com/registerguard">@registerguard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/video/">Video</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of2">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/video/">Videos</a></li>
                      <li><a href="http://registerguard.com/rg/photo/">Photo galleries</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://registerguard.com/rg/news/obituaries/">Obits</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of2">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
                      <li><a href="http://www.legacy.com/obituaries/registerguard/obituary-search.aspx">Obituary search</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of2">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li><a href="http://www.legacy.com/obituaries/registerguard/obituary-browse.aspx">Recent obituaries and guest books</a></li>
                      <li><a href="http://projects.registerguard.com/pages/news-forms/#purchase-obituary">Purchase a tribute obituary</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li">
          
          <a class="mw-a" href="http://rgmediacompany.com/solutions/">Advertising</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="w_line">
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert"><a href="http://rgmediacompany.com/solutions/">Advertising</a></h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://rgmediacompany.com/solutions/">General Advertising Information</a></li>
                      <li><a href="http://rgmediacompany.com/advertising/print-advertising/">Print Advertising</a></li>
                      <li><a href="http://rgmediacompany.com/advertising/digital-advertising/">Digital Advertising</a></li>
                      <li><a href="http://rgmediacompany.com/contact-us/">Contact Advertising</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert"><a href="http://rgmediacompany.com/solutions/">Digital Marketing Services</a></h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="http://rgmediacompany.com/digital-marketing-services-eugene/">Digital Services Information</a><li>
                      <li><a href="http://rgmediacompany.com/digital-marketing-services-eugene/web-design-eugene/">Web Design & Development</a></li>
                      <li><a href="http://rgmediacompany.com/digital-marketing-services-eugene/video-production/">Video Production</a></li>
                      <li><a href="http://rgmediacompany.com/advertising/search-engine-marketing/">Search Engine Marketing</a></li>
                      <li><a href="http://rgmediacompany.com/portfolio/">Client Portfolio</a></li>
                      <li><a href="http://rgmediacompany.com/contact-us/">Contact</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4">
                  
                  <div class="bd_gutter">
                    
                    <h2 class="bd_insert"><a href="http://marketplace.registerguard.com/">Classified</a></h2>
                    
                    <ul class="bd_scoop">
                      <li><a href="https://ads.registerguard.com/">Place a Print/Online Classified Ad</a></li>
                      <li><a href="http://marketplace.registerguard.com">All Classifieds</a></li>
                      <li><a href="http://registerguard.com/homes">Homes</a></li>
                      <li><a href="http://registerguard.com/autos">Autos</a></li>
                      <li><a href="http://registerguard.com/jobs">Jobs</a></li>
                      <li><a href="http://projects.registerguard.com/pages/rg-jobs/">Jobs at The Register-Guard</a></li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
                <div class="w_unit w_C1of4 w_Cfix">
                  
                  <div class="bd_gutter">
                    
                    <ul class="bd_scoop">
                      <li>&nbsp;</li>
                    </ul> <!-- /.bd_scoop -->
                    
                  </div> <!-- /.bd_gutter -->
                  
                </div> <!-- /.w_unit -->
                
              </div> <!-- /.w_line -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li Coff Doff">
          
          <a class="mw-a" href="http://marketplace.registerguard.com/">Classified</a>
          
        </li> <!-- /.mw-li -->
        
        <li class="mw-li mw-li-orphan">
          
          <a class="mw-a" href="http://projects.registerguard.com/pages/search/">Search</a>
          
          <div class="mw-div">
            
            <div class="bd_filler">
              
              <div class="bd_gutter">
                
                <h2 class="bd_insert">Search The Register-Guard</h2>
                
                <form id="finder" method="get" action="http://projects.registerguard.com/pages/search/">
                  
                  <div id="finder_opts" style="margin-bottom:10px">
                    <label><input type="radio" id="finder_opt-1" name="options" checked="checked" value="http://projects.registerguard.com/pages/search/"> Google Search</label>
                    <label><input type="radio" id="finder_opt-3" name="options" value="http://pqasb.pqarchiver.com/registerguard/results.html"> Proquest Newspaper Archives (<i>back to <b>2001</b></i>)</label>
                  </div>
                  
                  <div>
                    <label for="finder_keywords">Keywords: <input type="search" id="finder_keywords" name="q" title="Search..." placeholder="Search..." results="5" autosave="finder">
                      <input id="finder_submit" type="submit" value="Search">
                    </label>
                    <a style="text-decoration:underline" href="http://news.google.com/newspapers?nid=4pF9x-cDGsoC">Google News Archive Search</a> (<i>back to <b>1867</b></i>)
                    <a style="text-decoration:underline" href="http://projects.registerguard.com/pages/search/help/">Search Help</a>
                  </div>
                  
                </form>
                
              </div> <!-- /.bd_filler -->
              
            </div> <!-- /.bd_filler -->
            
          </div> <!-- /.mw-div -->
          
        </li> <!-- /.mw-li -->
        
      </ul> <!-- /#megawhale -->
      
    </div> <!-- /#bd_proof -->
    
  </nav>
  
</div> <!-- /#bd_masthead -->
